{# templates/challenge/initiate.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Défier un ami{% endblock %}

{% block body %}
<div class="container">
    <h1>Défier {{ friend.getName() }}</h1>
    <form method="POST">
        <div class="form-group mb-3">
            <label for="amount">Montant du défi (en UniTs)</label>
            <input type="number" class="form-control" id="amount" name="amount" min="1" required>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer le défi</button>
    </form>
</div>
{% endblock %}
